
body {
    margin: 0;
    padding: 0;
    height: 400%;
}

#center-about {
    width: 33%;
    margin: 0 auto;
  }

#circle-container {
    width: 350px;
    height: 350px;
    padding: 20px;
    border-style: solid;
    border-color: #ffd3b4;
    border-width: 3px;
    border-radius: 50%;
    margin: 0 auto;
  }
  
#circle-cover-bg {
    background: url(https://scontent.farn2-1.fna.fbcdn.net/v/t1.6435-9/176076404_10159215242549568_302139941472085739_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=p1GZuydoZWYAX-J7SUe&_nc_ht=scontent.farn2-1.fna&oh=7b6e40569b1aff47f5d4c16c4fbd43af&oe=60A3FEC5) no-repeat center center;
    height: 100%;
    border-radius: 50%;
    
  }

#club-ethos {
    height: 600px;
    text-align: center;
    padding: 2%;
    color: #98ddca;
    font-size: 200%;
  }

nav ul {
    list-style: none;
    
    text-align: center;
    padding: 0;
    margin: 0;
    
}

nav li {
    font-size: 1.8em;
    line-height: 8px;
    height: 1px;
    display: inline-block;
    margin: 0;
    float: left;
    padding-top: 1%;
    padding-left: 20%;
}

nav a {
    text-decoration: none;
    color: #ffaaa7;
    display: block;
}

nav a:hover {
    background-color: #fff;
    color: #98ddca;
    padding: 1px 1px;
}

.parallax {
  background-image: url("https://i.imgur.com/7vMwo.jpg");
  min-height: 800px; 
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 80%;
}

.style {
  font-size: 15px;
}

#welcome {
  margin-top: 1%;
  color: #03506f;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 78%;
  color: white;
  text-align: center;
  height: 6%;
  background: rgba(0, 0, 0, 0.5); ;
  margin-left: 11.5%;
  
}

div.transbox {
  margin: 35px 95px 200px 95px;
  border: 1px solid black;
  
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}


.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.location {
  float: right;
  margin-right: 1.5%;
  font-weight: 300px;
}

#toptext {
  border-bottom: 1px solid red;
  line-height: 80px;
  width: 20%;
  margin-left: 40%;
  
}
