
body{
    margin: 0;
    padding: 0;
    height: 400%;
}

#center-about {
  width: 33%;
  margin: 0 auto;
}

#club-ethos {
  height: 600px;
  text-align: center;
  padding: 2%;
  color: #98ddca;
  font-size: 200%;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0; 
}

nav li {
    font-size: 1.8em;
    line-height: 8px;
    height: 1px;
    display: inline-block;
    margin: 0;
    float: left;
    padding-top: 1%;
    padding-left: 20%;
}

nav a {
    text-decoration: none;
    color: #ffaaa7;
    display: block;
}

nav a:hover {
    background-color: #fff;
    color: #98ddca;
}

.parallax {
  background-image: url("https://i.imgur.com/7vMwo.jpg");
  min-height: 800px; 
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 80%;
}

.style {
  font-size: 110%;
  list-style-type: none;
  letter-spacing: 4px;
}

#welcome {
  margin-top: 2.7%;
  color: #03506f;
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.transbox {
  border: 1px solid black;
  margin: 50px 100px;
}


.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.location {
  float: right;
  margin-right: 1.5%;
  font-weight: 300px;
}

#toptext {
  border-bottom: 1px solid red;
  line-height: 80px;
  width: 20%;
  margin-left: 40%;
}

.company {
  text-align: center;
  color: #03506f;
  padding-top: 10%;
  padding-right: 3%;
  line-height: 80%;
}

.role {
  padding-right: 3%;
  text-align: center;
  color:#98ddca;
}

.dogs {
  text-align: center;
}

div .text {
  color: black;
  text-align: center;
  padding: 2%;
  font-style: normal;
  font-weight: lighter;
}

div .box {
  width: 600px;
  height: 270px;
  padding: 10px;
  border: 1px solid #cdd0cb;
  margin-left: 29%;
}

div .box-two {
  width: 600px;
  height: 270px;
  padding: 10px;
  border: 1px solid #cdd0cb;
  margin-left: 29%;
}

div .box-three {
  width: 600px;
  height: 270px;
  padding: 10px;
  border: 1px solid #cdd0cb;
  margin-left: 29%;
  margin-bottom: 5%;
}


.quote {
  text-align: center;
  color: #999b84;
  font-weight: 100;
  padding-right: 3%;
  line-height: 1.2em;
  padding-bottom: 5%;
  margin-top: 8%;
}

div #who {
  color:#03506f;
  text-align: center;
  padding-top: 12%;
  padding-right: 2%;
}

